{
  "base": "",
  "main_url": "",
  "headers": {
    "X-TrackerToken": "",
    "Content-Type": ""
  },
  "prefix": "",
  "user": {
    "owner": {
      "id": "",
      "token": "",
      "username": "",
      "password": ""
    }
  }
}